<!DOCTYPE html>
<html lang="en">

<head>
    <title>Nicknacks v2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/main.0dc4e3cde64d97a00c74.css">
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript" src="/main.0dc4e3cde64d97a00c74.js"></script>
    <script type="text/javascript" src="/vendors.0dc4e3cde64d97a00c74.js"></script>
</body>
</html>
