<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- slim version for VueJS, using the normal one until we fully dismantle the old jQuery panel
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    -->
    <script src="/assets/jquery/jquery-3.2.1.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />


    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
    <script src="/assets/bootstrap/bootstrap.min.js"></script>

    <script src="/assets/jquery-plugins/jquery.serializejson.js"></script>

    <script src="/assets/dottie/dottie.js"></script>
    <script>var D = Dottie;</script>

    <!-- VueJS STUFF -->

    <script src="/assets/vuejs/vue.min.js"></script>
    <script src="/assets/vuejs/vue-select.js"></script>
    <script>Vue.component('v-select', VueSelect.VueSelect);</script>

    <!-- Element for VueJS -->
    <!-- import CSS -->
    <link rel="stylesheet" href="/assets/element-ui/lib/theme-chalk/index.css">
    <!-- import JavaScript -->
    <script src="/assets/element-ui/lib/index.js"></script>
    <script src="/assets/element-ui/lib/umd/locale/en.js"></script>
    <script>ELEMENT.locale(ELEMENT.lang.en);</script>

    <!-- END of VueJS STUFF -->

    <script src="/assets/axiosjs/axios.js"></script>
    <script src="/assets/moment/moment.min.js"></script>

    <!-- Selectize : still in use by old panels -->
    <script src="/assets/selectize/js/standalone/selectize.js"></script>
    <link rel='stylesheet' href='/assets/selectize/css/selectize.css' />
    <link rel='stylesheet' href='/assets/selectize/css/selectize.bootstrap3.css' />


    <script src="/assets/main.js"></script>

  </head>
  <body>
      <a href="/panel">Home</a> |
      <a href="/panel/inventory">Inventory</a> |
      <a href="/panel/delivery">Delivery</a> |
      <a href="/panel/shipment">Shipment</a> |
    {{{body}}}
  </body>
</html>
