.salesReceiptCard {
     width: 100%;
     max-width:780px;
     margin-bottom: 10px;
}

.mainBreadCrumb {
    margin: 5px;
}

@media all and (max-width: 640px) {
    .ivu-table-cell {
        padding-left: 4px !important;
        padding-right: 4px !important;
    }
}

@media all and (max-width: 320px) {
    .ivu-table-cell {
        font-size: 10px !important;
    }
}
